beautifulsoup4==4.12.3
feedparser==6.0.11
langchain==0.1.1
pandas==2.1.4
Requests==2.31.0
selenium==4.16.0
streamlit==1.30.0
torch==2.1.2
transformers==4.36.2
git+https://github.com/openai/whisper.git
langdetect
pytube
PySimpleGUI