accelerate==0.26.1
aiohttp==3.9.1
aiosignal==1.3.1
albumentations==1.3.1
attrs==23.2.0
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
datasets==2.16.1
dill==0.3.7
feedparser==6.0.11
filelock==3.13.1
frozenlist==1.4.1
fsspec==2023.10.0
h11==0.14.0
huggingface-hub==0.20.2
idna==3.6
imageio==2.33.1
Jinja2==3.1.3
joblib==1.3.2
lazy_loader==0.3
Levenshtein==0.23.0
lightning==2.1.3
lightning-utilities==0.10.1
MarkupSafe==2.1.4
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
munch==4.0.0
networkx==3.2.1
nltk==3.8.1
nougat-ocr==0.1.17
numpy==1.26.3
opencv-python-headless==4.9.0.80
orjson==3.9.12
outcome==1.3.0.post0
packaging==23.2
pandas==2.1.4
pillow==10.2.0
psutil==5.9.8
pyarrow==14.0.2
pyarrow-hotfix==0.6
pycparser==2.21
pypdf==4.0.0
pypdfium2==4.26.0
PySocks==1.7.1
python-dateutil==2.8.2
python-Levenshtein==0.23.0
pytorch-lightning==2.1.3
pytz==2023.3.post1
PyYAML==6.0.1
qudida==0.0.4
rapidfuzz==3.6.1
regex==2023.12.25
requests==2.31.0
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
safetensors==0.4.1
scikit-image==0.22.0
scikit-learn==1.4.0
scipy==1.11.4
sconf==0.2.5
selenium==4.16.0
sentencepiece==0.1.99
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sympy==1.12
threadpoolctl==3.2.0
tifffile==2023.12.9
timm==0.5.4
tokenizers==0.15.0
torch==2.1.2
torchmetrics==1.3.0.post0
torchvision==0.16.2
tqdm==4.66.1
transformers==4.36.2
trio==0.24.0
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.1.0
wsproto==1.2.0
xxhash==3.4.1
yarl==1.9.4
